.positiv_container {
    margin-left: 5%;
    float: left;
    width: 30%;
}

.stof_container {
    float: left;
    width: 35%;
    color:white;

}

.pos_stof {
    float: left;
    width: 50%;
    font-size:30px;
    

}

.neg_stof {
    float: left;
    width: 50%;
    font-size:30px;
    
    }

.negativ_container {
    float: left;
    width: 30%;

}

.front_container {
    z-index: 1;
    margin-top: 10%;
    height: 100%;
}

.videoplayer {
    background-color: blue;
}

.img_container {}

.btn {
    margin: 8px;
    width: 140px;
}

.media_container {
    z-index: -1;
    position: absolute;
    margin-top: -10%;
}

.selected {
    background-color: red;
}

.selected:hover {
    background-color: red;
}
